html {
    /* Material Design constants */
    --md-tile-size: 112px;
    /* This will be overridden based on the viewport width, see below. */
    --column-count: 3;

    --content-width: calc(var(--column-count) * var(--md-tile-size) + 1px);
    height: 100%;
}

:root {
    --searchbox-height: 44px;
}

/* width >= (4 cols * 112px (tile width) + 112px (1 tile margin)) */
@media (min-width: 560px) {
    html {
      --column-count: 4;
    }
}

/* width >= (5 cols * 112px (tile width) + 112px (1 tile margin)) */
@media (min-width: 672px) {
    html {
        --column-count: 5;
    }
    
}

body {
    background-attachment: fixed;
    cursor: default;
    margin: 0;
    min-height: 100%;
    background-color: #eeeeee;
}

#logo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 215px;
    width: 30%;
}

#logo, #search-box-container {
    flex-shrink: 0;
}

#logo {
    min-height: fit-content;
    position: relative;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    /*z-index: 1;*/
}

.container {
    margin: 0 auto 0 auto;
    min-width: 410px;
    width: var(--content-width);
}

#search-box {
    margin: 0 auto;
    max-width: 584px;
}
#search-box {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
#search-box {
    background: white;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    height: var(--searchbox-height);
    opacity: 1;
    position: relative;
    transition: none;
}

#search-box .search-icon {
    font-size: 16px;
}

.search-icon {
    height: 100%;
    color: rgb(117, 117, 117);
    bottom: 0;
    left: 16px;
    position: absolute;
    top:0;
}

.icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

#search-button {
    bottom: 0;
    outline: hidden;
    cursor: pointer;
    margin-inline-end: 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
    color: #cd2f25;
}

#search-button:active {
    color: #940000;
    text-shadow: 0 0 15px #940000;
    outline: none;
}

#search-button:focus {
    outline: none;
}

#search-button:hover {
    text-shadow: 0 0 3px #ff654f;
}

#search-box > #search-div > input {
    height: 44px;
    width: 80%;
    background: none;
    outline: none;
    margin: 0em;
    border: none;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    position: absolute;
    box-sizing: border-box;
}

#search-div {
    margin-left: 48px;
    margin-right: 40px;
    width: inherit;
}

#search-div > div > .search-option, #search-div > div > input {
    margin-bottom: 7px;
    margin-top: 7px;
}
#search-div > div > .search-option {
    margin-right: 10px;
}

#search-div > div {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#options-container > div > div {
    display: inline-block;
    margin-right: 5px;
}

#search-div > div > input {
    height: 44px;
    flex-grow:1;
    background: none;
    outline: none;
    margin: 0em;
    border: none;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    box-sizing: border-box;
}


.search-option {
    background-color: #CD2F25;
    color: white;
    font-size: 16px;
    border-radius: 18px;
    height: 30px;
    box-sizing: border-box;
    margin: 10px auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display:inline-block;
    align-items : center;
    cursor: pointer;
}

.option-text {
    vertical-align: bottom;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

#options {
    display: none;
    width: 100%;
    margin-top: -44px ;
    float: left;
    padding: 44px 24px 11px 16px ;
    border-radius: 22px 22px 22px 22px ;
    background-color: #bcbcbc;
}

.options-button:active {
    background-color: #940000;
    outline: none;
}

.options-button:focus {
    box-shadow: 0 0 3pt 2pt #ff654f;
    outline: none;
}

.options-button {
    background-color: #CD2F25;
    color: white;
    font-size: 16px;
    border-radius: 0px 0px 18px 18px;
    height: 28px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display:inline-block;
    align-items : center;
    cursor: pointer;
}

.advanced {
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.toast-text-primary, .toast-body {
    color: #ffffff;
}

.toast-header {
    background-color: #CD2F25;
}

.toast-body {
    background-color: #CD2F25;
}

.close {
    color: #fff;
}

  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #bcbcbc; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    /*transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* Icon colour and position */
  .sidenav > a > i {
    color: #cd2f25;
    vertical-align: middle;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #dbdbdb;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*.sidenav-btn {
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: calc(-14px - calc(64px - calc(64px / 5 * var(--column-count))));
      text-align: right;
      z-index: 2;
  }*/

.sidenav-btn:active {
    background-color: #940000;
    outline: none;
}

.sidenav-btn:focus {
    box-shadow: 0 0 3pt 2pt #ff654f;
    outline: none;
}

.sidenav-btn {
    background-color: #CD2F25;
    color: white;
    font-size: 16px;
    border-radius: 0px 18px 18px 0px;
    height: 32px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding-left: 8px;
    padding-right: 30px;
    display:inline-block;
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 2;
}

.toggle-text {
    margin-top: 4%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* SEARCH RESULTS*/
.result-item {
    width:600px;
    display:block;
    border-style: solid;
    border-width: 2px;
    border-color: #bcbcbc;
    background-color: white;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    margin:20px auto 20px auto;
}

.result-item-heading{
    display:block; 
    margin: 10px;
}

.result-item-wrapper{
    display: flex;
    justify-content: center;
}

.result-item-image{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-image: url("/website/img/sample.jpg");
    background-size: cover; 
}

.result-item-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    width: calc(100% - 200px);
    max-width:395px;
    justify-content: start;
}

.result-item-icon {
    flex:0 0 30px;
}

.result-item-text {
    flex:0 0 85%;
    margin-left: 6px;
}

@media screen and (max-width: 672px) {
    .result-item-wrapper{
        display:block;
    }
    .result-item{
        width: 80%;
        text-align: center;
    }
    .result-item-image{
        margin:10px auto 10px auto;
    }
    .result-item-data{
        margin:10px auto 10px auto;
        width: calc(100% - 100px);
    }
  }

  @media screen and (max-width: 450px) {
    .result-item-data{
        width: 100%;
        margin:10px;
    }
  }



/*  DETAILS PAGE*/  
.details{
    width:90%;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    border-radius: 22px;
    margin: auto;
    margin-top: 5vh;
}

.details-heading{
    margin: 20px;
    margin-top: 10px;
    width: 100%;
}

.details-text-wrapper{
    flex: 1 1 calc(100% - 600px);
    margin: 18px 20px 20px 0;
}

.more-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.left-margin {
    margin-left: 1vw;
}

/* map in details */
.details-small{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width:40%;
    width:40%;
    height: 38vh;
    background-color: white;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    border-radius: 22px;   
    margin-top: 1vh;
}

/* DETAILS GALLERY*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
ul li {
    margin: 0 1.75rem 0 0;
  }

.product-image {
display: none;
}
  
.image-list li {
margin: 0;
}
.product-gallery{
    max-width: 500px;
    margin: 20px;
}

.product-image img, .image-list img {
    width: 100%;
}
  
.product-image {
    display: block;
}
.product-image img {
    height: 300px;
}
.product-image img.active {
    display: block;
    border-radius: 15px 15px 0 0;
    margin: 0 0 0.75rem 0;
}
  
.image-list {
    display: flex;
    overflow: hidden;
}
.image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
}
.image-list li:nth-child(3) {
    margin: 0;
}
.image-list img {
    height: 5rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.image-list img:hover {
    opacity: 0.7;
}


@media screen and (max-width: 1000px) {
    .details{
        display: block;
        width: 80%;
    }
    .left-margin {
        margin-left: auto;
    }
    .details-small {
        display: block;
        width: 100%;
        flex-direction: unset;
        margin-bottom: 16px;
    }
    .more-details {
        display: block;
        width: 80%;
        flex-direction: unset;
    }
    .product-gallery{
        width: calc(100% - 30px);
        margin: 30px auto 30px auto;
        max-width: 1000px;
    }
    .details-text-wrapper{
        width: calc(100% - 30px);
        margin: auto;
        /*margin-bottom: 30px;*/
    }
    .details-heading{
        width: calc(100% - 30px);
        margin: 30px auto 30px auto;
    }
        
}
@media screen and (max-width: 600px) {
    .details{
        display: block;
    }
    .left-margin {
        margin-left: auto;
    }
    .details-small {
        display: block;
        width: 100%;
        flex-direction: unset;
        margin-bottom: 16px;
    }
    .product-gallery{
        max-width: calc(100% - 20px);
        margin: 10px auto 10px auto;
    }
    .product-image img{
        height: 200px;
    }
    .details-text-wrapper{
        width: calc(100% - 20px);
        margin: 10px auto 10px auto;
    }   
}

/* paths */

#ourCarousel {
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 80%;
    height: 90%;
    left: 10%;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    filter: invert();
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

.details-path{
    width:90%;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    border-radius: 22px;
    margin: auto;
    margin-top: 5vh;
}

.path-item-text {
    vertical-align: top;
    display: inline-block;
    margin-left: 6px;
}


.weather-table{
    width: 300px;
}
.weather-header{
    margin-bottom: 10px;
}

.weather-icon{
    width: 60%;
}

.table-col{
    width:30%;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .weather-table{
        width:100%;
    }
}